
<div class="heading-section"><h1 class="text-center mt-3 animate__animated animate__fadeInRight"><a routerLink="/home"><i class="fa fa-cloud" aria-hidden="true"></i>Weather app</a></h1></div>

<div class="container">
<div class="animate__animated animate__fadeInLeft">
  <div class="row">
    <div class="col-md-6">
      <h3 id="searchtitle" class="text-center my-4">Weather search:</h3>
      <form
        [formGroup]="weatherSearchForm"
        (ngSubmit)="sendDataToService(weatherSearchForm.value)"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName="location"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md">
            Search for weather info
          </button>
          <button type="button" (click)="findUserLocation()" class="btn btn-primary btn-md">Use current location</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 weather-details">
      <h3 class="text-center my-4">Weather Details:</h3>
      <p class="text-center">
        Current weather conditions:
        <span *ngIf="this.weatherData" class="animate__animated animate__fadeInLeft">{{ this.weatherData?.current.condition.text }} </span>
      </p>
      <p class="text-center">
        Temperature in Degrees Celsius:<span *ngIf="this.weatherData" class="animate__animated animate__fadeInLeft"> {{ this.weatherData?.current.temp_c }}</span>
      </p>
      <p class="text-center">
        Temperature in Degrees Farenheit:<span *ngIf="this.weatherData" class="animate__animated animate__fadeInLeft"> {{ this.weatherData?.current.temp_f }} </span>
      </p>
      <p class="text-center">
        Feels like in Degrees Celsius:
        <span *ngIf="this.weatherData" class="animate__animated animate__fadeInLeft">{{ this.weatherData?.current.feelslike_c }}</span>
      </p>
      <p class="text-center">
        Feels like in Degrees Farenheit:
        <span *ngIf="this.weatherData" class="animate__animated animate__fadeInLeft"> {{ this.weatherData?.current.feelslike_f }}</span>
      </p>
      <p class="text-center">
        Location Searched: <span *ngIf="this.weatherData" class="animate__animated animate__fadeInLeft"> {{ this.weatherData?.location.name }} ,</span>
        <span *ngIf="this.weatherData" class="animate__animated animate__fadeInLeft"> {{ this.weatherData?.location.country }}</span>
      </p>
      <p class="text-center">
        Last time updated: 
        <span *ngIf="this.weatherData" class="animate__animated animate__fadeInLeft"> {{ this.weatherData?.current.last_updated }}</span>
      </p>
    </div>
  </div>
</div>
</div>

<div *ngIf="this.weatherData" class="container text-center icons-div d-flex flex-wrap justify-content-center mt-3 animate__animated animate__fadeInLeft">
<img src="{{this.weatherData?.current.condition.icon}}">
<p class="align-self-center">{{ this.weatherData?.current.temp_c }} ℃</p>
</div>
